.actions {
    background-color: var(--HIGHLIGHT);
    grid-area: actions;
}

.listItem {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 8fr repeat(3, 1fr);
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;
    grid-template-rows: 1fr;
}

.itemButton > ul > li {
    display: inline-block;
    /* width: 2vw; */
}

.total {
    background-color: var(--WHITE);
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
    scrollbar-width: large;
    scrollbar-color: var(--HIGHLIGHT_2) var(--WHITE);
    
}

.total > li > a {
    background-color: blue;
}

.wrapper {
    overflow: hidden;
    height: 65vh;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-auto-rows: max-content;
    grid-area: total;
}

.calcTotal {
    width: 100%;
    border-top: 0.25vh solid black;
    padding-top: 2.5vh;
    /* height: 10vh; */
    /* filter: drop-shadow(0 -0.5vh 0.5vh var(--HIGHLIGHT_SHADOW)); */
    background-color: var(--WHITE);
    font-size: 1vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    grid-template-rows: 1fr;
}

.calcTotal > * {
    /* background-color: blue; */
    height: 3vh;
    margin: 0;
    /* background-color: blue; */
    font-size: 1.25vw;
    padding: 0.2vw;
}

.calcTotal h5 {
    margin-right: 2vw;
}

.calcTotal p {
    border-left: 2px solid black;
    padding-left: 0.5vw;
}

.calcTotal > p > input {
    background-color: var(--INPUT_BOX);
    border: 0px;
    /* padding: 0.25vw; */
    width: 3.2vw;
    margin: 0;
    font-size: 1.25vw;
    border-radius: 0.25vw;
    filter: drop-shadow(0 0 0.1vw var(--WHITE_SHADOW));
}

.calcWrapper {
    padding: 1vw;
    background-color: var(--WHITE);
}

.itemButton {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.total > .cartItem {
    padding: 0.5vw;
    list-style: none;
    border-radius: 0.75vw;
    margin: 0.75vw;
    background-color: var(--WHITE);
    filter: drop-shadow(0 0 0.25vw #B9B9B6);
    overflow: hidden;
    
}

.total > .cartItem:nth-child(odd) {
    background-color: var(--HIGHLIGHT_2);
}
